body {
  background-image: url(../images/bg.png);
  background-size: cover;
    /* background-color: black; */
}

.pfp {
    border-radius: 50%;
    width: 25%;
}

.yourmother {
  background-color: whitesmoke;
  padding-top: 1%;
  text-align: center;
}

.headerbar {
  text-align: center;
  text-decoration: none;
}

.hbgrp{
    align-items: right;
}

.headerbarlinks {
  text-decoration: none;
  color: purple;
}

.headerbarlinks:link {
  text-decoration: none;
  color: teal;
}

.headerbarlinks:hover {
  text-decoration: none;
  color: black;
}

.headerbarlinks:active {
  text-decoration: none;
  color: green;
}
